In [2]:
import pandas as pd
import numpy as np

In [3]:
allColleges = pd.read_csv('original_data_set/FieldOfStudyData1415_1516_PP.csv')

In [4]:
# CLEANING THE DATA
# Drop the data that doesn't show P_DEBTMEDIAN/P_DEBTPAYMENT10YR/P_DEBTMEAN
# P_DEBTMEDIAN - Median federal loan debt of borrowers completing college
# P_DEBTPAYMENT10YR - Median federal loan debt of borrowers completing college in monthly payments (10-year amortization plan)
# P_DEBTMEAN - Mean federal loan debt of borrowers completing college
cleanData = allColleges[(allColleges['P_DEBTMEDIAN'] != 'PrivacySuppressed') & 
(allColleges['P_DEBTPAYMENT10YR'] != 'PrivacySuppressed') & (allColleges['P_DEBTMEAN'] != 'PrivacySuppressed')]

cleanData

,P_UNITID,P_OPEID6,P_INSTNM,P_CONTROL,P_MAIN,P_CIPCODE,P_CIPDESC,P_CREDLEV,P_CREDDESC,P_COUNT,P_DEBTMEDIAN,P_DEBTPAYMENT10YR,P_DEBTMEAN,P_TITLEIVCOUNT,P_EARNINGSCOUNT,P_MD_EARN_WNE,P_IPEDSCOUNT1,P_IPEDSCOUNT2
15,100654.0,1002,Alabama A & M University,Public,1,1101,"Computer and Information Sciences, General.",3,Bachelors Degree,PrivacySuppressed,32743,340,33933,NaN,NaN,NaN,27.0,17.0
22,100654.0,1002,Alabama A & M University,Public,1,1312,Teacher Education and Professional Development...,3,Bachelors Degree,PrivacySuppressed,44985,467,43778,NaN,NaN,NaN,19.0,7.0
23,100654.0,1002,Alabama A & M University,Public,1,1312,Teacher Education and Professional Development...,5,Master's Degree,PrivacySuppressed,38883,453,44879,NaN,NaN,NaN,9.0,20.0
24,100654.0,1002,Alabama A & M University,Public,1,1313,Teacher Education and Professional Development...,3,Bachelors Degree,PrivacySuppressed,34500,358,33714,NaN,NaN,NaN,26.0,24.0
27,100654.0,1002,Alabama A & M University,Public,1,1410,"Electrical, Electronics and Communications Eng...",3,Bachelors Degree,PrivacySuppressed,32750,340,35588,NaN,NaN,NaN,27.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209040,NaN,34733,University of the Arts London,Foreign,1,5001,"Visual and Performing Arts, General.",5,Master's Degree,PrivacySuppressed,54530,635,51182,NaN,NaN,NaN,NaN,NaN
209047,NaN,34733,University of the Arts London,Foreign,1,5004,Design and Applied Arts.,5,Master's Degree,PrivacySuppressed,63917,745,66237,NaN,NaN,NaN,NaN,NaN
209217,NaN,37803,Saba University School of Medicine,Foreign,1,5112,Medicine.,6,Doctoral Degree,PrivacySuppressed,79491,926,84649,NaN,NaN,NaN,NaN,NaN
209244,NaN,39003,Medical University of the Americas,Foreign,1,5112,Medicine.,6,Doctoral Degree,PrivacySuppressed,25054,292,36353,NaN,NaN,NaN,NaN,NaN
209248,NaN,39743,"St. George's University, School of Veterinary ...",Foreign,1,5124,Veterinary Medicine.,7,First Professional Degree,PrivacySuppressed,256016,2983,233395,NaN,NaN,NaN,NaN,NaN