In [31]:
import numpy as np
import pandas as pd

In [32]:
sortedByDebtPayment10YR = pd.read_csv('bachelor_degree_analysis_sortedByDebtPayment10YR.csv')
sortedByDataAvailabilityCount = pd.read_csv('bachelor_degree_analysis_sortedByDataAvailabilityCount.csv')
bachelorDegreesPay = pd.read_csv('datasets_1189_2137_degrees-that-pay-back.csv')
bachelorDegreesPay

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

In [33]:
# Bachelor Degree data
# The top 3 majors based on the most data provided are:
# 1431 feeds for: Business Administration, Management and Operations.	
# 1098 feeds for: Psychology, General.	
# 910 feeds for: Registered Nursing, Nursing Administration, Nursing Research and Clinical Nursing.	

# We pick only records with over 200 feeds available for research
sortedByDataAvailabilityCount[(sortedByDataAvailabilityCount['P_CIPDESC'] > 200)]

# # To select Bachelor degree we use label P_CREDLEV and integer 3 that represent Bachelor degree column
# bachelorDegrees = cleanData[(cleanData['P_CREDLEV'] == 3)]
# sortedByDebtMeanBachelorDegrees = bachelorDegrees.sort_values(by ='P_DEBTMEAN')

# # Select specific columns to output the data
# outputData = sortedByDebtMeanBachelorDegrees[['P_INSTNM', 'P_CIPDESC', 'P_DEBTMEDIAN', 'P_DEBTPAYMENT10YR', 'P_DEBTMEAN']]

# # Save data sorted by DEBTMEAN
# outputData.to_csv('bachelor_degree_analysis_sortedByDebtMean.csv')

                                           Unnamed: 0  P_CIPDESC
0   Business Administration, Management and Operat...       1431
1                                Psychology, General.       1098
2   Registered Nursing, Nursing Administration, Nu...        910
3                                   Biology, General.        904
4                   Criminal Justice and Corrections.        858
5                    Accounting and Related Services.        792
6   Teacher Education and Professional Development...        680
7                    Communication and Media Studies.        610
8           English Language and Literature, General.        577
9              Health and Physical Education/Fitness.        530
10                  Political Science and Government.        511
11                                           History.        465
12                                         Sociology.        464
13  Liberal Arts and Sciences, General Studies and...        460
14                                         Marketing.        456
15                              Fine and Studio Arts.        422
16                                       Social Work.        412
17        Computer and Information Sciences, General.        398
18         Finance and Financial Management Services.        378
19  Teacher Education and Professional Development...        339
20                                         Economics.        337
21        Health and Medical Administrative Services.        324
22                           Design and Applied Arts.        315
23                            Mechanical Engineering.        282
24                        Business/Commerce, General.        261
25                                       Mathematics.        254
26   Romance Languages, Literatures, and Linguistics.        232
27                                             Music.        228
28                                         Chemistry.        223
29  Computer/Information Technology Administration...        220
30  Electrical, Electronics and Communications Eng...        218
31           Human Resources Management and Services.        214
32                                  Computer Science.        212
33       Natural Resources Conservation and Research.        208

In [34]:
sorted = sortedByDebtPayment10YR.groupby('P_CIPDESC')
debtPaymentsByMajor = sorted['P_DEBTPAYMENT10YR'].mean()
debtPaymentsByMajor

P_CIPDESC
Accounting and Related Services.                          281.854798
Aerospace, Aeronautical and Astronautical Engineering.    245.370370
Agricultural Business and Management.                     196.068966
Agricultural Engineering.                                 234.562500
Agricultural Mechanization.                               211.000000
                                                             ...
Visual and Performing Arts, General.                      296.508475
Visual and Performing Arts, Other.                        270.500000
Wildlife and Wildlands Science and Management.            241.321429
Woodworking.                                              280.000000
Zoology/Animal Biology.                                   232.861111
Name: P_DEBTPAYMENT10YR, Length: 292, dtype: float64

In [35]:
debtPaymentsByMajor.to_csv('bachelor_degree_analysis_sortedByDebtPayment10YRByMajor.csv')

In [36]:
# Rename columns to be the same as in our earnings data set
debtPaymentsByMajorRenamed = debtPaymentsByMajor.rename(index={
    'Accounting and Related Services.':'Accounting',
'Aerospace, Aeronautical and Astronautical Engineering.':'Aerospace Engineering',
'Agriculture, General.':'Agriculture',
'Anthropology.':'Anthropology',
'Architecture.':'Architecture',
'Arts, Entertainment,and Media Management.':'Art History',
'Biology, General.':'Biology',
'Business Administration, Management and Operations.':'Business Management',
'Chemical Engineering.':'Chemical Engineering',
'Chemistry.':'Chemistry',
'Civil Engineering.':'Civil Engineering',
'Communication, Journalism, and Related Programs, Other.':'Communications',
'Computer Engineering.':'Computer Engineering',
'Computer Science.':'Computer Science',
'Construction Engineering.':'Construction',
'Criminal Justice and Corrections.':'Criminal Justice',
'Drama/Theatre Arts and Stagecraft.':'Drama',
'Economics.':'Economics',
'Education, General.':'Education',
'Electrical Engineering Technologies/Technicians.':'Electrical Engineering',
'English Language and Literature, General.':'English',
'Film/Video and Photographic Arts.':'Film',
'Finance and Financial Management Services.':'Finance',
'Forestry.':'Forestry',
'Geography and Cartography.':'Geography',
'Geological/Geophysical Engineering.':'Geology',
'Graphic Communications.':'Graphic Design',
'Health and Medical Administrative Services.':'Health Care Administration',
'History.':'History',
'Hospitality Administration/Management.':'Hospitality & Tourism',
'Industrial Engineering.':'Industrial Engineering',
'Information Science/Studies.':'Information Technology (IT)',
'Interior Architecture.':'Interior Design',
'International Relations and National Security Studies.':'International Relations',
'Journalism.':'Journalism',
'Management Information Systems and Services.':'Management Information Systems (MIS)',
'Marketing.':'Marketing',
'Mathematics.':'Math',
'Mechanical Engineering.':'Mechanical Engineering',
'Music.':'Music',
'Nursing.':'Nursing',
'Nutrition Sciences.':'Nutrition',
'Philosophy.':'Philosophy',
'Physics.':'Physics',
'Political Science and Government.':'Political Science',
'Psychology, General.':'Psychology',
'Religion/Religious Studies.':'Religion',
'Sociology.':'Sociology'
})
debtPaymentsByMajorRenamed

P_CIPDESC
Accounting                                        281.854798
Aerospace Engineering                             245.370370
Agricultural Business and Management.             196.068966
Agricultural Engineering.                         234.562500
Agricultural Mechanization.                       211.000000
                                                     ...
Visual and Performing Arts, General.              296.508475
Visual and Performing Arts, Other.                270.500000
Wildlife and Wildlands Science and Management.    241.321429
Woodworking.                                      280.000000
Zoology/Animal Biology.                           232.861111
Name: P_DEBTPAYMENT10YR, Length: 292, dtype: float64

In [37]:
bachelorDegreesPayRenamed = bachelorDegreesPay.rename(columns={'Undergraduate Major':'P_CIPDESC'})
bachelorDegreesPayRenamed

,P_CIPDESC,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

In [38]:
mergedDataFrame = pd.merge(debtPaymentsByMajorRenamed, bachelorDegreesPayRenamed, on='P_CIPDESC')
mergedDataFrame

,P_CIPDESC,P_DEBTPAYMENT10YR,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,281.854798,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,245.370370,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,213.344828,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,235.922652,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,283.046512,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,263.437500,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,243.463496,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,300.316562,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,237.080882,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,231.125561,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,242.071429,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,244.608696,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,270.128205,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,235.688679,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,284.166667,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,314.657343,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,244.110526,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,230.614243,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,252.887097,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,469.896970,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,239.844021,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,287.207547,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,245.973545,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,226.944444,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,235.869048,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,268.000000,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,297.693878,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,360.003086,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,240.655914,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,235.387597,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,238.694915,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),299.572727,"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,250.142857,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,225.884956,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,244.354839,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),238.191176,"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,252.239035,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,222.188976,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,240.322695,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,257.074561,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,389.000000,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,225.575758,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,222.440476,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physics,226.258621,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
44,Political Science,235.612524,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
45,Psychology,253.315118,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
46,Religion,258.966667,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
47,Sociology,245.301724,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"

In [39]:
# Update monthly payments to get an annual values
mergedDataFrame['P_DEBTPAYMENT10YR'] = mergedDataFrame['P_DEBTPAYMENT10YR'].apply(lambda x: x*12)
mergedDataFrame

,P_CIPDESC,P_DEBTPAYMENT10YR,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,3382.257576,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,2944.444444,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,2560.137931,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,2831.071823,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,3396.558140,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,3161.250000,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,2921.561947,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,3603.798742,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,2844.970588,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,2773.506726,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,2904.857143,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,2935.304348,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,3241.538462,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,2828.264151,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,3410.000000,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,3775.888112,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,2929.326316,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,2767.370920,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,3034.645161,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,5638.763636,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,2878.128250,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,3446.490566,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,2951.682540,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,2723.333333,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,2830.428571,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,3216.000000,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,3572.326531,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,4320.037037,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,2887.870968,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,2824.651163,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,2864.338983,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),3594.872727,"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,3001.714286,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,2710.619469,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,2932.258065,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),2858.294118,"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,3026.868421,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,2666.267717,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,2883.872340,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,3084.894737,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,4668.000000,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,2706.909091,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,2669.285714,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physics,2715.103448,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
44,Political Science,2827.350294,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
45,Psychology,3039.781421,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
46,Religion,3107.600000,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
47,Sociology,2943.620690,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"

In [40]:
mergedDataFrame['Average Percent Of Salary'] =  mergedDataFrame['P_DEBTPAYMENT10YR']/mergedDataFrame['Starting Median Salary'].replace('[\$,]', '', regex=True).astype(float)*100
mergedDataFrame

,P_CIPDESC,P_DEBTPAYMENT10YR,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,Average Percent Of Salary
0,Accounting,3382.257576,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00",7.352734
1,Aerospace Engineering,2944.444444,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00",5.103023
2,Agriculture,2560.137931,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00",6.009713
3,Anthropology,2831.071823,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00",7.693130
4,Architecture,3396.558140,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00",8.164803
5,Art History,3161.250000,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00",8.830307
6,Biology,2921.561947,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00",7.529799
7,Business Management,3603.798742,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00",8.380927
8,Chemical Engineering,2844.970588,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00",4.501536
9,Chemistry,2773.506726,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00",6.510579
10,Civil Engineering,2904.857143,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00",5.389345
11,Communications,2935.304348,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00",7.704211
12,Computer Engineering,3241.538462,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00",5.279379
13,Computer Science,2828.264151,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00",5.059507
14,Construction,3410.000000,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00",6.350093
15,Criminal Justice,3775.888112,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00",10.788252
16,Drama,2929.326316,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00",8.159683
17,Economics,2767.370920,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00",5.523694
18,Education,3034.645161,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00",8.695258
19,Electrical Engineering,5638.763636,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00",9.259054
20,English,2878.128250,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00",7.574022
21,Film,3446.490566,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00",9.093643
22,Finance,2951.682540,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00",6.162176
23,Forestry,2723.333333,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00",6.965047
24,Geography,2830.428571,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00",6.869972
25,Geology,3216.000000,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00",7.393103
26,Graphic Design,3572.326531,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00",10.006517
27,Health Care Administration,4320.037037,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00",11.134116
28,History,2887.870968,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00",7.367018
29,Hospitality & Tourism,2824.651163,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00",7.472622
30,Industrial Engineering,2864.338983,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00",4.964192
31,Information Technology (IT),3594.872727,"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00",7.321533
32,Interior Design,3001.714286,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00",8.314998
33,International Relations,2710.619469,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00",6.627431
34,Journalism,2932.258065,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00",8.236680
35,Management Information Systems (MIS),2858.294118,"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00",5.809541
36,Marketing,3026.868421,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00",7.418795
37,Math,2666.267717,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00",5.872836
38,Mechanical Engineering,2883.872340,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00",4.980781
39,Music,3084.894737,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00",8.593022
40,Nursing,4668.000000,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00",8.612546
41,Nutrition,2706.909091,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00",6.784233
42,Philosophy,2669.285714,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00",6.689939
43,Physics,2715.103448,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00",5.397820
44,Political Science,2827.350294,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00",6.929780
45,Psychology,3039.781421,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00",8.467358
46,Religion,3107.600000,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00",9.113196
47,Sociology,2943.620690,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00",8.064714

In [41]:
# Select specific columns to output the data
outputData = mergedDataFrame[['P_CIPDESC','P_DEBTPAYMENT10YR',  'Starting Median Salary', 'Average Percent Of Salary']]
outputData = outputData.rename(columns={
    'P_CIPDESC':'Undergraduate Major',
    'P_DEBTPAYMENT10YR':'Annual Payment First 10YR'})

outputData['Starting Median Salary'] = outputData['Starting Median Salary'].replace('[\$,]', '', regex=True).astype(float)

# Undergraduate Major with the lowest payment of your salary will appear on top the list
# the top items are considered majors with highest rate of return on your education investments
outputData = outputData.sort_values(by='Average Percent Of Salary')
outputData.to_csv('bachelor_degree_resultOfInvestmentReturnBasedOnMajor.csv')

In [42]:
# Grouping majors by type
# https://www.thebalancecareers.com/choosing-a-college-major-by-field-3570279
outputData.loc[outputData['Undergraduate Major'] == 'Chemical Engineering', 'Major Type'] = 'Engineering and Technology Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Industrial Engineering', 'Major Type'] = 'Engineering and Technology Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Mechanical Engineering', 'Major Type'] = 'Engineering and Technology Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Computer Science', 'Major Type'] = 'Engineering and Technology Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Aerospace Engineering', 'Major Type'] = 'Engineering and Technology Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Computer Engineering', 'Major Type'] = 'Engineering and Technology Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Civil Engineering', 'Major Type'] = 'Engineering and Technology Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Physics', 'Major Type'] = 'Science and Math-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Economics', 'Major Type'] = 'Business-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Management Information Systems (MIS)', 'Major Type'] = 'Business-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Math', 'Major Type'] = 'Science and Math-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Agriculture', 'Major Type'] = 'Science and Math-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Finance', 'Major Type'] = 'Business-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Construction', 'Major Type'] = 'Business-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Chemistry', 'Major Type'] = 'Science and Math-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'International Relations', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Philosophy', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Nutrition', 'Major Type'] = 'Science and Math-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Geography', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Political Science', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Forestry', 'Major Type'] = 'Environment-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Information Technology (IT)', 'Major Type'] = 'Business-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Accounting', 'Major Type'] = 'Business-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'History', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Geology', 'Major Type'] = 'Science and Math-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Marketing', 'Major Type'] = 'Business-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Hospitality & Tourism', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Biology', 'Major Type'] = 'Environment-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'English', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Anthropology', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Communications', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Sociology', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Drama', 'Major Type'] = 'Arts-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Architecture', 'Major Type'] = 'Arts-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Journalism', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Interior Design', 'Major Type'] = 'Arts-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Business Management', 'Major Type'] = 'Business-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Psychology', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Music', 'Major Type'] = 'Arts-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Nursing', 'Major Type'] = 'Science and Math-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Education', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Art History', 'Major Type'] = 'Arts-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Film', 'Major Type'] = 'Arts-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Religion', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Electrical Engineering', 'Major Type'] = 'Engineering and Technology Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Graphic Design', 'Major Type'] = 'Arts-Related Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Criminal Justice', 'Major Type'] = 'Literature, Language, and Social Science Majors'

outputData.loc[outputData['Undergraduate Major'] == 'Health Care Administration', 'Major Type'] = 'Business-Related Majors'

outputData

,Undergraduate Major,Annual Payment First 10YR,Starting Median Salary,Average Percent Of Salary,Major Type
8,Chemical Engineering,2844.970588,63200.0,4.501536,Engineering and Technology Majors
30,Industrial Engineering,2864.338983,57700.0,4.964192,Engineering and Technology Majors
38,Mechanical Engineering,2883.872340,57900.0,4.980781,Engineering and Technology Majors
13,Computer Science,2828.264151,55900.0,5.059507,Engineering and Technology Majors
1,Aerospace Engineering,2944.444444,57700.0,5.103023,Engineering and Technology Majors
12,Computer Engineering,3241.538462,61400.0,5.279379,Engineering and Technology Majors
10,Civil Engineering,2904.857143,53900.0,5.389345,Engineering and Technology Majors
43,Physics,2715.103448,50300.0,5.397820,Science and Math-Related Majors
17,Economics,2767.370920,50100.0,5.523694,Business-Related Majors
35,Management Information Systems (MIS),2858.294118,49200.0,5.809541,Business-Related Majors
37,Math,2666.267717,45400.0,5.872836,Science and Math-Related Majors
2,Agriculture,2560.137931,42600.0,6.009713,Science and Math-Related Majors
22,Finance,2951.682540,47900.0,6.162176,Business-Related Majors
14,Construction,3410.000000,53700.0,6.350093,Business-Related Majors
9,Chemistry,2773.506726,42600.0,6.510579,Science and Math-Related Majors
33,International Relations,2710.619469,40900.0,6.627431,"Literature, Language, and Social Science Majors"
42,Philosophy,2669.285714,39900.0,6.689939,"Literature, Language, and Social Science Majors"
41,Nutrition,2706.909091,39900.0,6.784233,Science and Math-Related Majors
24,Geography,2830.428571,41200.0,6.869972,"Literature, Language, and Social Science Majors"
44,Political Science,2827.350294,40800.0,6.929780,"Literature, Language, and Social Science Majors"
23,Forestry,2723.333333,39100.0,6.965047,Environment-Related Majors
31,Information Technology (IT),3594.872727,49100.0,7.321533,Business-Related Majors
0,Accounting,3382.257576,46000.0,7.352734,Business-Related Majors
28,History,2887.870968,39200.0,7.367018,"Literature, Language, and Social Science Majors"
25,Geology,3216.000000,43500.0,7.393103,Science and Math-Related Majors
36,Marketing,3026.868421,40800.0,7.418795,Business-Related Majors
29,Hospitality & Tourism,2824.651163,37800.0,7.472622,"Literature, Language, and Social Science Majors"
6,Biology,2921.561947,38800.0,7.529799,Environment-Related Majors
20,English,2878.128250,38000.0,7.574022,"Literature, Language, and Social Science Majors"
3,Anthropology,2831.071823,36800.0,7.693130,"Literature, Language, and Social Science Majors"
11,Communications,2935.304348,38100.0,7.704211,"Literature, Language, and Social Science Majors"
47,Sociology,2943.620690,36500.0,8.064714,"Literature, Language, and Social Science Majors"
16,Drama,2929.326316,35900.0,8.159683,Arts-Related Majors
4,Architecture,3396.558140,41600.0,8.164803,Arts-Related Majors
34,Journalism,2932.258065,35600.0,8.236680,"Literature, Language, and Social Science Majors"
32,Interior Design,3001.714286,36100.0,8.314998,Arts-Related Majors
7,Business Management,3603.798742,43000.0,8.380927,Business-Related Majors
45,Psychology,3039.781421,35900.0,8.467358,"Literature, Language, and Social Science Majors"
39,Music,3084.894737,35900.0,8.593022,Arts-Related Majors
40,Nursing,4668.000000,54200.0,8.612546,Science and Math-Related Majors
18,Education,3034.645161,34900.0,8.695258,"Literature, Language, and Social Science Majors"
5,Art History,3161.250000,35800.0,8.830307,Arts-Related Majors
21,Film,3446.490566,37900.0,9.093643,Arts-Related Majors
46,Religion,3107.600000,34100.0,9.113196,"Literature, Language, and Social Science Majors"
19,Electrical Engineering,5638.763636,60900.0,9.259054,Engineering and Technology Majors
26,Graphic Design,3572.326531,35700.0,10.006517,Arts-Related Majors
15,Criminal Justice,3775.888112,35000.0,10.788252,"Literature, Language, and Social Science Majors"
27,Health Care Administration,4320.037037,38800.0,11.134116,Business-Related Majors

In [43]:
# Assumptions
# Average S&P return for a year is 9.8%
# Calculation doesn't account for pay increases, inflation, employer matches.
# The person starting to contribute for retirement at the age of 25.  Average percentage of that salary should be 15% based on Fidelity data(https://www.fidelity.com/viewpoints/retirement/how-much-money-should-I-save) 

# 10 years of contributing 15% of the salary reduced by education payment
# when person graduated and can invest 15% of the salary to the retiment account but education debts reducing contributed amount

# Variables
percentOfSalary = 15
returnOfStandardAndPoorsInvestment = 9.8

outputData['Available Investments'] = (outputData['Starting Median Salary']/100) * (percentOfSalary - outputData['Average Percent Of Salary'])
outputData['Retirement Savings In 10 Years'] = 0 

for i in range(1, 11):
    runningGrowthForYear = outputData['Retirement Savings In 10 Years'] / 100 * returnOfStandardAndPoorsInvestment
    outputData['Retirement Savings In 10 Years'] = outputData['Retirement Savings In 10 Years'] + runningGrowthForYear + outputData['Available Investments']
    outputData[str(i)] = outputData['Retirement Savings In 10 Years']     

outputData.to_csv('bachelor_degree_resultOfInvestmentReturnBasedOnMajorByType.csv')

outputData

,Undergraduate Major,Annual Payment First 10YR,Starting Median Salary,Average Percent Of Salary,Major Type,Available Investments,Retirement Savings In 10 Years,1,2,3,4,5,6,7,8,9,10
8,Chemical Engineering,2844.970588,63200.0,4.501536,Engineering and Technology Majors,6635.029412,104736.477328,6635.029412,13920.291706,21919.509705,30702.651068,40346.540284,50935.530644,62562.242059,75328.371192,89345.580981,104736.477328
30,Industrial Engineering,2864.338983,57700.0,4.964192,Engineering and Technology Majors,5790.661017,91407.799224,5790.661017,12148.806814,19130.050898,26795.456903,35212.072697,44453.516838,54600.622505,65742.144527,77975.535708,91407.799224
38,Mechanical Engineering,2883.872340,57900.0,4.980781,Engineering and Technology Majors,5801.127660,91573.019182,5801.127660,12170.765830,19164.628541,26843.889797,35275.718657,44533.866745,54699.313345,65860.973713,78116.476796,91573.019182
13,Computer Science,2828.264151,55900.0,5.059507,Engineering and Technology Majors,5556.735849,87715.200967,5556.735849,11658.031811,18357.254778,25713.001595,33789.611601,42657.729386,52394.922715,63086.360991,74825.560217,87715.200967
1,Aerospace Engineering,2944.444444,57700.0,5.103023,Engineering and Technology Majors,5710.555556,90143.303874,5710.555556,11980.745556,18865.414176,26424.780320,34724.964347,43838.566409,53845.301472,64832.696572,76896.856392,90143.303874
12,Computer Engineering,3241.538462,61400.0,5.279379,Engineering and Technology Majors,5968.461538,94214.448470,5968.461538,12521.832308,19717.433412,27618.203425,36293.248899,45818.448830,56277.118354,67760.737491,80369.751303,94214.448470
10,Civil Engineering,2904.857143,53900.0,5.389345,Engineering and Technology Majors,5180.142857,81770.536533,5180.142857,10867.939714,17113.140663,23970.371306,31499.610551,39766.715242,48843.996193,58810.850677,69754.456900,81770.536533
43,Physics,2715.103448,50300.0,5.397820,Science and Math-Related Majors,4829.896552,76241.764624,4829.896552,10133.122966,15956.065568,22349.656545,29369.819438,37077.958295,45541.494760,54834.457798,65038.131214,76241.764624
17,Economics,2767.370920,50100.0,5.523694,Business-Related Majors,4747.629080,74943.141116,4747.629080,9960.525810,15684.286420,21968.975569,28869.564255,36446.410632,44765.787954,53900.464253,63930.338830,74943.141116
35,Management Information Systems (MIS),2858.294118,49200.0,5.809541,Business-Related Majors,4521.705882,71376.857018,4521.705882,9486.538941,14937.925640,20923.548235,27495.761844,34712.052387,42635.539404,51335.528147,60888.115788,71376.857018
37,Math,2666.267717,45400.0,5.872836,Science and Math-Related Majors,4143.732283,65410.399175,4143.732283,8693.550331,13689.250547,19174.529384,25197.365547,31810.439654,39071.595023,47044.343619,55798.421577,65410.399175
2,Agriculture,2560.137931,42600.0,6.009713,Science and Math-Related Majors,3829.862069,60455.837776,3829.862069,8035.050621,12652.347650,17722.139789,23288.771558,29400.933239,36112.086766,43480.933337,51571.926874,60455.837776
22,Finance,2951.682540,47900.0,6.162176,Business-Related Majors,4233.317460,66824.535460,4233.317460,8881.500032,13985.204495,19589.071996,25742.118512,32498.163586,39916.301078,48061.416044,57004.752277,66824.535460
14,Construction,3410.000000,53700.0,6.350093,Business-Related Majors,4645.000000,73323.101828,4645.000000,9745.210000,15345.240580,21494.074157,28245.493424,35658.551780,43798.089854,52735.302660,62548.362321,73323.101828
9,Chemistry,2773.506726,42600.0,6.510579,Science and Math-Related Majors,3616.493274,57087.729721,3616.493274,7587.402888,11947.461644,16734.806159,21991.310436,27762.952133,34100.214715,41058.529031,48698.758149,57087.729721
33,International Relations,2710.619469,40900.0,6.627431,"Literature, Language, and Social Science Majors",3424.380531,54055.156592,3424.380531,7184.350354,11312.797220,15845.831878,20823.103933,26288.148650,32288.767748,38877.447519,46111.817906,54055.156592
42,Philosophy,2669.285714,39900.0,6.689939,"Literature, Language, and Social Science Majors",3315.714286,52339.818343,3315.714286,6956.368571,10953.806977,15342.994347,20162.322078,25453.943928,31264.144718,37643.745186,44648.546500,52339.818343
41,Nutrition,2706.909091,39900.0,6.784233,Science and Math-Related Majors,3278.090909,51745.918951,3278.090909,6877.434727,10829.514240,15168.897544,19933.540413,25165.118282,30909.390783,37216.601989,44141.919893,51745.918951
24,Geography,2830.428571,41200.0,6.869972,"Literature, Language, and Social Science Majors",3349.571429,52874.266294,3349.571429,7027.400857,11065.657570,15499.663440,20368.201886,25713.857099,31583.386523,38028.129831,45104.457983,52874.266294
44,Political Science,2827.350294,40800.0,6.929780,"Literature, Language, and Social Science Majors",3292.649706,51975.735137,3292.649706,6907.979084,10877.610741,15236.266300,20022.070104,25276.882680,31046.666890,37381.889951,44337.964873,51975.735137
23,Forestry,2723.333333,39100.0,6.965047,Environment-Related Majors,3141.666667,49592.410099,3141.666667,6591.216667,10378.822567,14537.613845,19103.966668,24117.822068,29623.035298,35667.759424,42304.866514,49592.410099
31,Information Technology (IT),3594.872727,49100.0,7.321533,Business-Related Majors,3770.127273,59512.901167,3770.127273,7909.727018,12455.007539,17445.725550,22925.533927,28942.363524,35548.842423,42802.756253,50767.553638,59512.901167
0,Accounting,3382.257576,46000.0,7.352734,Business-Related Majors,3517.742424,55528.909791,3517.742424,7380.223606,11621.227944,16277.850706,21390.822500,27004.865529,33169.084775,39937.397507,47369.004887,55528.909791
28,History,2887.870968,39200.0,7.367018,"Literature, Language, and Social Science Majors",2992.129032,47231.901338,2992.129032,6277.486710,9884.809439,13845.649797,18194.652509,22969.857487,28213.032553,33970.038776,40291.231608,47231.901338
25,Geology,3216.000000,43500.0,7.393103,Science and Math-Related Majors,3309.000000,52233.830775,3309.000000,6942.282000,10931.625636,15311.924948,20121.493593,25402.399965,31200.835162,37567.517008,44558.133675,52233.830775
36,Marketing,3026.868421,40800.0,7.418795,Business-Related Majors,3093.131579,48826.265173,3093.131579,6489.390053,10218.481857,14313.024658,18808.832653,23745.229832,29165.393934,35116.734119,41651.305642,48826.265173
29,Hospitality & Tourism,2824.651163,37800.0,7.472622,"Literature, Language, and Social Science Majors",2845.348837,44914.919812,2845.348837,5969.541860,9399.905800,13166.445406,17302.105893,21843.061107,26829.029933,32303.623704,38314.727664,44914.919812
6,Biology,2921.561947,38800.0,7.529799,Environment-Related Majors,2898.438053,45752.953393,2898.438053,6080.923035,9575.291546,13412.108171,17624.932824,22250.614294,27329.612548,32906.352631,39029.613242,45752.953393
20,English,2878.128250,38000.0,7.574022,"Literature, Language, and Social Science Majors",2821.871750,44544.325017,2821.871750,5920.286932,9322.346802,13057.808539,17159.345527,21662.833139,26607.662537,32037.085216,37998.591317,44544.325017
3,Anthropology,2831.071823,36800.0,7.693130,"Literature, Language, and Social Science Majors",2688.928177,42445.759853,2688.928177,5641.371315,8883.153881,12442.631138,16350.937166,20642.257185,25354.126566,30527.759146,36208.407719,42445.759853
11,Communications,2935.304348,38100.0,7.704211,"Literature, Language, and Social Science Majors",2779.695652,43878.559172,2779.695652,5831.801478,9183.013675,12862.644668,16902.879497,21339.057340,26209.980612,31558.254364,37430.658944,43878.559172
47,Sociology,2943.620690,36500.0,8.064714,"Literature, Language, and Social Science Majors",2531.379310,39958.790729,2531.379310,5310.833793,8362.674815,11713.596257,15392.908001,19432.792295,23868.585251,28739.085916,34086.895646,39958.790729
16,Drama,2929.326316,35900.0,8.159683,Arts-Related Majors,2455.673684,38763.748462,2455.673684,5152.003389,8112.573406,11363.279284,14932.554338,18851.618347,23154.750629,27879.589875,33067.463367,38763.748462
4,Architecture,3396.558140,41600.0,8.164803,Arts-Related Majors,2843.441860,44884.817455,2843.441860,5965.541023,9393.605904,13157.621143,17290.509876,21828.421704,26811.048891,32281.973543,38289.048811,44884.817455
34,Journalism,2932.258065,35600.0,8.236680,"Literature, Language, and Social Science Majors",2407.741935,38007.127473,2407.741935,5051.442581,7954.225889,11141.481962,14641.089129,18483.657800,22702.798199,27335.414358,32422.026901,38007.127473
32,Interior Design,3001.714286,36100.0,8.314998,Arts-Related Majors,2413.285714,38094.638142,2413.285714,5063.073429,7972.540339,11167.135006,14674.799951,18526.216061,22755.070949,27398.353616,32496.677985,38094.638142
7,Business Management,3603.798742,43000.0,8.380927,Business-Related Majors,2846.201258,44928.375598,2846.201258,5971.330239,9402.721860,13170.389860,17307.289325,21849.604936,26837.067478,32313.301349,38326.206139,44928.375598
45,Psychology,3039.781421,35900.0,8.467358,"Literature, Language, and Social Science Majors",2345.218579,37020.172378,2345.218579,4920.268579,7747.673479,10852.164059,14260.894716,18003.680978,22113.260293,26625.578381,31580.103642,37020.172378
39,Music,3084.894737,35900.0,8.593022,Arts-Related Majors,2300.105263,36308.041426,2300.105263,4825.620842,7598.636948,10643.408632,13986.567941,17657.356862,21687.883098,26113.400905,30972.619457,36308.041426
40,Nursing,4668.000000,54200.0,8.612546,Science and Math-Related Majors,3462.000000,54648.994301,3462.000000,7263.276000,11437.077048,16019.910599,21051.861837,26576.944297,32643.484839,39304.546353,46618.391895,54648.994301
18,Education,3034.645161,34900.0,8.695258,"Literature, Language, and Social Science Majors",2200.354839,34733.442819,2200.354839,4616.344452,7269.101047,10181.827788,13380.001750,16891.596760,20747.328081,24980.921072,29629.406176,34733.442819
5,Art History,3161.250000,35800.0,8.830307,Arts-Related Majors,2208.750000,34865.963652,2208.750000,4633.957500,7296.835335,10220.675198,13431.051367,16956.044401,20826.486753,25076.232454,29742.453235,34865.963652
21,Film,3446.490566,37900.0,9.093643,Arts-Related Majors,2238.509434,35335.727701,2238.509434,4696.392792,7395.148720,10358.382729,13612.013670,17184.500444,21107.090921,25414.095265,30143.186035,35335.727701
46,Religion,3107.600000,34100.0,9.113196,"Literature, Language, and Social Science Majors",2007.400000,31687.576880,2007.400000,4211.525200,6631.654670,9288.956827,12206.674596,15410.328707,18927.940920,22790.279130,27031.126485,31687.576880
19,Electrical Engineering,5638.763636,60900.0,9.259054,Engineering and Technology Majors,3496.236364,55189.428397,3496.236364,7335.103891,11550.180436,16178.334482,21260.047625,26839.768656,32966.302348,39693.236342,47079.409867,55189.428397
26,Graphic Design,3572.326531,35700.0,10.006517,Arts-Related Majors,1782.673469,28140.182631,1782.673469,3740.048939,5889.247204,8249.066900,10840.148925,13685.156989,16808.975843,20238.928946,24005.017452,28140.182631
15,Criminal Justice,3775.888112,35000.0,10.788252,"Literature, Language, and Social Science Majors",1474.111888,23269.420038,1474.111888,3092.686741,4869.881930,6821.242247,8963.835876,11316.403680,13899.523128,16735.788283,19850.007423,23269.420038
27,Health Care Administration,4320.037037,38800.0,11.134116,Business-Related Majors,1499.962963,23677.489144,1499.962963,3146.922296,4955.283644,6940.864404,9121.032079,11514.856186,14143.275055,17029.278973,20198.111276,23677.489144