In [1]:
import pandas as pd

In [2]:
cleanData = pd.read_csv('../cleaning_data_withDebtsValues.csv')

In [8]:
# Master Degree data

# To select Master degree we use label P_CREDLEV and integer 5 that represent Master degree column
masterDegrees = cleanData[(cleanData['P_CREDLEV'] == 5)]
sortedByDebtMeanMasterDegrees = masterDegrees.sort_values(by ='P_DEBTMEAN')

df1a = sortedByDebtMeanMasterDegrees[['P_INSTNM', 'P_CIPDESC', 'P_DEBTMEDIAN', 'P_DEBTPAYMENT10YR', 'P_DEBTMEAN']]
df1a

,P_INSTNM,P_CIPDESC,P_DEBTMEDIAN,P_DEBTPAYMENT10YR,P_DEBTMEAN
37464,Institution Name,Curriculum and Instruction.,4371,51,7082
37467,Institution Name,Curriculum and Instruction.,4371,51,7082
19036,Institution Name,Curriculum and Instruction.,6703,78,8580
43243,Institution Name,Curriculum and Instruction.,6703,78,8580
46558,Institution Name,Teacher Education and Professional Development...,6845,80,8798
...,...,...,...,...,...
35742,Institution Name,Alternative and Complementary Medicine and Med...,165856,1933,195958
6429,Institution Name,Advanced/Graduate Dentistry and Oral Sciences.,169625,1976,199087
4911,Institution Name,Alternative and Complementary Medicine and Med...,223112,2600,209577
15868,Institution Name,Advanced/Graduate Dentistry and Oral Sciences.,215670,2513,217430
3102,Institution Name,Advanced/Graduate Dentistry and Oral Sciences.,192591,2244,238792